h3
{
    font-size: 25px !important;
}
.btn-success:hover
{
    background-color: rgb(201, 113, 223);
}

canvas {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {box-shadow: 1px 1px 38px rgb(190, 59, 59)}
    to{box-shadow: 1px 1px 38px rgb(224, 106, 165)}
}